body, button, input, select, textarea, .ast-button, .ast-custom-button {
    font-family: 'Inter';
}
.d-none{
	display:none;
}
.d-flex{
    display: flex;
}
.width-auto{
    width: auto !important;
}
.error_msg{
    color: #B3261E;
    white-space: break-spaces;
    margin-top: -16px;
    text-align: center;
}
.ast-stock-detail,
.woocommerce-ordering,
.woocommerce-result-count,
.ajax_add_to_cart,
.single-product .woocommerce-product-gallery{
	display:none;
}
.single-product .entry-summary{
	float:left !important;
	width:100% !important;
}
.single-product.woocommerce div.product form.cart table,
.woocommerce div.product form.cart table.table_result{
	/* border-right: 1px solid #ddd; */
    border: 0;
}
.table_result tr{
	display:flex;
    align-items: center;
    /* 	white-space:nowrap; */
	/* justify-content: space-between; */
}
.table_result th,
.table_result td{
	/* border: 1px solid #ddd; */
	/* border-width: 1px 0px 0px 1px; */
    border: 0;
	/* max-width: 110px; */
	width: 100%;
	padding: 5px;
}
.table_result td#design_RE,
.table_result td#design_LE{
	/* border-right:0; */
}
.table_result td#design_RE_r,
.table_result td#design_LE_r{
	/* border-left:0; */
}
.woocommerce div.product form.cart .button.single_add_to_cart_button{
    /* width: fit-content; */
    width: max-content;
    padding: 11px 20px;
    background-color: #6750A4 !important;
    color: #fff !important;
    border-radius: 20px;
}
.woocommerce div.product form.cart .button.single_add_to_cart_button.btn_outline{
    background-color: transparent !important;
    color: #6750A4 !important;
    border: 1px solid rgba(0,0,0,0.5);
}
.single-product.woocommerce button.button[name="add-to-cart"],
.mdc-button{
	/* display:block; */
	/* margin-top:1.5em */
    background-color: #6750A4 !important;
    color: #fff !important;
}
.woocommerce div.product form.cart .button.single_add_to_cart_button:hover{
    background-color: rgba(103,80,164,0.95) !important;
    box-shadow: 0 2px 4px -1px #0003, 0 4px 5px 0 #00000024, 0 1px 10px 0 #0000001f;
}
.woocommerce div.product form.cart .button.single_add_to_cart_button.btn_outline:hover{
    background-color: rgba(103,80,164,0.08) !important;
}
.mdc-button__label{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.woocommerce div.product form.cart .variations .table_result tr,
.woocommerce div.product form.cart .variations .table_result th{
	margin-bottom: 0;
}
.woocommerce div.product form.cart table.wck-inner-table{
	border-bottom: 0;
}
.woocommerce div.product form.cart .variations{
	border-bottom: 0;
}
.wck-cart{
    /* 	display: flex; */
    /*  max-width: 300px; */
    /*  flex-flow: wrap; */
	max-height: 200px;
    overflow: auto;
    padding-left: 10px;
}
.woocommerce div.product form.cart{
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.woocommerce div.product form.cart,
.woocommerce div.product form.cart input{
    font-size: 14px;
    line-height: 20px;
    color: #000;
}
.thwepo-extra-options.thwepo_simple p{
    margin-bottom: 0;
}
.woocommerce div.product form.cart,
#confirmation,
#modification,
.thwepo-extra-options.thwepo_simple{
    max-width: 540px;
    /* max-width: 450px; */
}
.thwepo-extra-options.thwepo_simple.patient{
    order: -3;
}
.thwepo-extra-options.thwepo_simple.order{
    order: -2;
}
.single-product .variations.wck-layout-two-col{
    order: -1; 
}
.thwepo-extra-options.thwepo_simple.modification0 tbody,
.thwepo-extra-options.thwepo_simple.modification2 tbody,
.thwepo-extra-options.thwepo_simple.modification1 tbody,
.thwepo-extra-options.thwepo_simple.order tbody{
    display: flex;
    flex-flow: wrap;
    /* align-items: end; */
    align-items: center;
    justify-content: space-between;
    /* justify-content: left; */
}
.thwepo-extra-options.thwepo_simple.modification0 tbody tr .value,
.thwepo-extra-options.thwepo_simple.modification2 tbody tr .value,
.thwepo-extra-options.thwepo_simple.modification1 tbody tr .value,
.thwepo-extra-options.thwepo_simple.order tbody tr .value{
    width: 100%;
    display: block;
    width: inherit;
}
.thwepo-extra-options.thwepo_simple.modification0 tbody tr:nth-child(1),
.thwepo-extra-options.thwepo_simple.modification0 tbody tr:nth-child(3n+4),
.thwepo-extra-options.thwepo_simple.modification2 tbody tr:nth-child(1),
.thwepo-extra-options.thwepo_simple.modification2 tbody tr:nth-child(3n+4),
.thwepo-extra-options.thwepo_simple.modification1 tbody tr:nth-child(1),
.thwepo-extra-options.thwepo_simple.modification1 tbody tr:nth-child(5n+6),
.lens_val tr th:nth-child(1),
.lens_val tr td:nth-child(1),
.patient_val tr td:nth-child(1),
.thwepo-extra-options.thwepo_simple.patient tbody tr td:nth-child(1),
.thwepo-extra-options.thwepo_simple.patient tbody tr td:nth-child(3),
.thwepo-extra-options.thwepo_simple.order tbody tr:nth-child(1),
.thwepo-extra-options.thwepo_simple.order tbody tr:nth-child(3n+4){
    width: 160px;
}
.mdc-notched-outline--notched .mdc-notched-outline__notch{
    padding-right: 0;
}
.mdc-text-field--outlined .mdc-floating-label{
    left: 2px;
}
label.mdc-text-field{
    width: 100% !important;
}
.btn_container,
.btm_container,
.btn_cal{
    width: 540px;
}
.btm_container{
    display: flex;
    flex-direction: column;
}
.btn_container{
    display: flex;
    justify-content: space-evenly;
}
.thwepo-extra-options.thwepo_simple.modification0 tbody tr,
.thwepo-extra-options.thwepo_simple.modification2 tbody tr,
.lens_val tr th,
.lens_val tr td,
.patient_val tr td,
.thwepo-extra-options.thwepo_simple.order tbody tr{
    width: 190px;
}
.thwepo-extra-options.thwepo_simple.modification1 tbody tr,
.confirm_val_le tbody tr td,
.confirm_val_re tbody tr td{
    width: 95px;
}
.confirm_val_le tbody tr td:nth-child(1),
.confirm_val_le tbody tr td:nth-child(5n+8),
.confirm_val_le tbody tr td:nth-child(5n+6),
.confirm_val_re tbody tr td:nth-child(1),
.confirm_val_re tbody tr td:nth-child(5n+8),
.confirm_val_re tbody tr td:nth-child(5n+6){
    width: 125px;
}
.confirm_val_le tbody tr td:nth-child(3),
.confirm_val_re tbody tr td:nth-child(3){
    /* width: 150px; */
    width: 135px;
}
#confirmation,
.single-product.woocommerce button.button[name="add-to-cart"],
.thwepo-extra-options.thwepo_simple.modification0,
.thwepo-extra-options.thwepo_simple.modification0 tbody tr .label,
.thwepo-extra-options.thwepo_simple.modification2,
.thwepo-extra-options.thwepo_simple.modification2 tbody tr .label,
.thwepo-extra-options.thwepo_simple.modification1,
.thwepo-extra-options.thwepo_simple.modification1 tbody tr .label,
.thwepo-extra-options.thwepo_simple.order tbody tr .label,
.single-product .summary .price,
.single-product .summary .quantity,
#modification{
    display: none;
}
.mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background{
    background-color: #6A4DA8;
}
.thwepo-extra-options.thwepo_simple.modification0 .cbox_eye_m label,
.thwepo-extra-options.thwepo_simple.order .cbox_eye label,
.confirm_title{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}
.confirm_price{
    font-size: 1.5rem;
    font-weight: 700;
    color: #7e868c;
    margin-bottom: 0;
}
.thwepo-extra-options.thwepo_simple.modification0 .cbox_eye_m,
.thwepo-extra-options.thwepo_simple.order .cbox_eye{
    display: flex;
}
.thwepo-extra-options.thwepo_simple.modification0 .cbox_eye_m label,
.thwepo-extra-options.thwepo_simple.order .cbox_eye label{
    margin-right: 0 !important;
    color: #6A4DA8;
}
@media (max-width: 580px) {
    .btn_cal,
    .btm_container,
    .btn_container{
        width: 88vw !important;
    }
    .woocommerce div.product form.cart .variations .table_result tr td:nth-child(1),
    .woocommerce div.product form.cart .variations .table_result th:nth-child(1){
        /* width: 20vw; */
        width: 28vw;
    }
    .thwepo-extra-options.thwepo_simple.modification0 tbody{
        flex-wrap: inherit;
    }
    .thwepo-extra-options.thwepo_simple.modification0 tbody tr:nth-child(1),
    .thwepo-extra-options.thwepo_simple.modification0 tbody tr:nth-child(3n+4),
    .thwepo-extra-options.thwepo_simple.modification2 tbody tr:nth-child(1),
    .thwepo-extra-options.thwepo_simple.modification2 tbody tr:nth-child(3n+4),
    .thwepo-extra-options.thwepo_simple.modification1 tbody tr:nth-child(1),
    .thwepo-extra-options.thwepo_simple.modification1 tbody tr:nth-child(5n+6),
    .lens_val tr th:nth-child(1),
    .lens_val tr td:nth-child(1),
    .patient_val tr td:nth-child(1),
    .thwepo-extra-options.thwepo_simple.patient tbody tr td:nth-child(1),
    .thwepo-extra-options.thwepo_simple.patient tbody tr td:nth-child(3),
    .thwepo-extra-options.thwepo_simple.order tbody tr:nth-child(1),
    .thwepo-extra-options.thwepo_simple.order tbody tr:nth-child(3n+4){
        /* width: 33vw; */
        /* width: 26vw; */
        width: 20vw;
    }
    .thwepo-extra-options.thwepo_simple.modification0 tbody tr,
    .thwepo-extra-options.thwepo_simple.modification2 tbody tr{
        /* width: 26vw; */
        /* width: 32vw; */
        width: 33vw;
    }
    .lens_val tr th,
    .lens_val tr td,
    .patient_val tr td,
    .thwepo-extra-options.thwepo_simple.order tbody tr{
        /* width: 26vw; */
        width: 34vw;
    }
    .thwepo-extra-options.thwepo_simple.modification1 tbody tr,
    .confirm_val_le tbody tr td,
    .confirm_val_re tbody tr td{
        /* width: 13.1vw; */
        width: 15vw;
    }
    .confirm_val_le tbody tr td:nth-child(1),
    .confirm_val_le tbody tr td:nth-child(5n+8),
    .confirm_val_le tbody tr td:nth-child(5n+6),
    .confirm_val_re tbody tr td:nth-child(1),
    .confirm_val_re tbody tr td:nth-child(5n+8),
    .confirm_val_re tbody tr td:nth-child(5n+6){
        /* width: 26vw; */
        width: 23vw;
    }
    .confirm_val_le tbody tr td:nth-child(3),
    .confirm_val_re tbody tr td:nth-child(3)
    {
        /* width: 26vw; */
        width: 20vw;
    }
    .mdc-checkbox__native-control{
        margin-right: 0 !important;
    }
    .table_result tr th,
    .table_result tr td,
    .thwepo-extra-options.thwepo_simple.modification0 .cbox_eye_m label,
    .thwepo-extra-options.thwepo_simple.order .cbox_eye label{
        font-size: 11px;
        line-height: 19px;
        padding-left: 0;
    }
}